<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
</head>
<body>
	
	<div id="MenuView" class="view-pane">
	
	<!-- menu title -->
	<div class="menuheading">
		<img id="menutitleicon" src="" />
		<h1 id="menutitle"></h1>
	</div>
	
	<div class="menuarea">
		
		<!-- left hand side is space for graphics -->
		<div class="menuiconcontainer">
			<img id="menuicon" src="" />
		</div>
		
		<!-- right hand side is the menu -->
		<div class="menucontainer">
			<ul class="menu">
			</ul>
		</div>
		
	</div>
	
	</div>
	
</body>
</html>
